# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python artifacts
.Python
.env

# Database files (optional, based on your project needs)
*.db
*.sqlite3

# Exclude local model files
translation_app/models/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# Ignore test translation script
translation_app/app/test_translation.py